body {
 width: 900px;
 margin: 20px auto;
 font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.title {
    text-align: center;
    background-color: yellowgreen;
    color: white;
    padding: 10px;
}

img {
    display: block;
    margin: 10px auto;
}

a {
    color: brown;
}

.recipe-descr {
    margin-bottom: 50px;
    text-align: center;
}

.ingredients-list {
    margin-bottom: 50px;
}


.steps-list {
    width: 400px;
}

.menu li, .ingredients-list li, .steps-list li {
    margin-bottom: 16px;
}