@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 30px;
  padding: 16px 0;
}

.title {
  text-align: center;
  background-color: yellowgreen;
  color: white;
  padding: 10px;
}

img {
  display: block;
  margin: 10px auto;
  border: 2px solid #694a4a;
  border-radius: 10px;
}

figcaption {
  width: 70%;
  margin: 0 auto;
  font-size: 20px;
  font-style: italic;
}

a {
  color: brown;
}

.recipe-descr {
  margin-bottom: 50px;
  text-align: center;
}

.ingredients-list {
  margin-bottom: 50px;
}

.steps-list {
  width: 400px;
}

.menu li,
.ingredients-list li,
.steps-list li {
  margin-bottom: 16px;
}

.section-title {
  width: fit-content;
  padding: 8px 16px;
  background-color: #694a4a;
  border-radius: 10px;
  color: #fff;
}
